<div class="panel panel-default">
    <div class="panel-heading">
        メッセージ一覧
    </div>
    
    <div class="panel-body">
        <% @messages.each do |message| %>
            <span class="label label-info"><%= message.name %></span>
            <%= message.body %>
            <br>
        <% end %>
    </div>
</div>


<%= form_for(Message.new) do |f| %>
<form>
    <div class="form-group">
        <label>名前</label>
        <div>
            <%= f.text_field :name, placeholder: "鈴木 花子" %>
        </div>
    </div>
    <div class="form-group">
        <label>内容</label>
        <div>
            <%= f.text_area :body, size: "100x5", placeholder: "ご自由にご記入ください。" %>
        </div>
    </div>
        <%= f.submit class: "btn btn-sm btn-primary" %>
</form>
<% end %>